.table-view{
    -fx-background-color: transparent;
 }

.table-view .column-header {
     -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .scroll-bar {
    -fx-background-color: #303030;
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-size: 22px;
    -fx-alignment: center-left;
    -fx-font-weight: normal;
    -fx-font-family: Arial;

    -fx-text-fill: lightgrey;
}

.table-view .column-header-background .label:hover{
    -fx-text-fill: hotpink;
}

.table-view .table-cell{
    -fx-font-size:18px;
    -fx-background-color: transparent;

    -fx-text-fill: white;
    -fx-table-cell-border-color: #303030;
}

.table-row-cell:hover {
    -fx-background-color: mediumvioletred;
}

.table-row-cell:odd:hover {
    -fx-background-color: mediumvioletred;
}

.table-row-cell:selected {
    -fx-background-color: hotpink;
    -fx-text-fill: black; //nope
    -fx-background-radius: 15px;
}

.table-row-cell:odd:selected {
    -fx-background-color: hotpink;
    -fx-text-fill: black; //bope
    -fx-background-radius: 15px;
}
 .table-row-cell{
    -fx-background-color: #292929;
}

.table-row-cell:odd{
    -fx-background-color: #303030;
}


.button{
    -fx-background-color: #909090;
    -fx-text-fill: black;
}

.button:hover{
    -fx-text-fill: white;
    -fx-background-color: deeppink;
}

.text-field{
    -fx-background-color: #202020;
  //  -fx-border-color: #202020; maybeeeee
    -fx-text-fill: hotpink;
}

.newTextFields{
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-font-size:14px;
    -fx-font-family: Corbel;
}

AnchorPane, HBox, VBox{
    -fx-background-color: #303030;
}

.bottomPane{
    -fx-background-color: #303030;
}

.statusBar{
    -fx-background-color: #151515;
    -fx-text-fill: cyan; //????
}

.rect{
    -fx-fill: #303030;

}

.menu{
    -fx-background-color: #202020;
    -fx-border-color: #303030;
    -fx-background-radius: 20px;
    -fx-border-width: 0px;
    -fx-text-fill: whitesmoke;
}

.label{
    -fx-text-fill: gray;
}

.menu-bar > .container > .menu-button > .label{ //make on hover bg change
    -fx-text-fill: whitesmoke;
}

